@font-face {
    font-family: 'Madison';
    src: url('Madison-Regular.woff2') format('woff2'),
        url('Madison-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

